extends _layout.pug

block header
	h1 Top names
	h4 Session: #{session}
block content
	ul
		for item in topNames
			div.card
				h2= item.name
				h4 Count: #{item.count}
				ul(class= 'hidden' data-type="articlelist")
					button Toggle article list
					for article in item.articles
						a(href= article.link)
							li
								p= article.title
								h6= article.brand